@model Users
<form method="post">
    <h1> POPULAR MOVIES </h1>
     <
      <h2>
        <a > THE PRICE OF servitude</a>
      </h2>

      <img src="esaretinbedeli.jpg" alt="" style="height: 500px" />
      <p>
        <b>Director : </b> <ins>Frank Darabont</ins> <br />
        <b>Players:</b> <ins>Tim Robbins, Morgan Freeman, Bob Gunton</ins>
        <br />
       The Redemption of Bondage, two prisoners named Andy and Red behind bars
        tells the story of the world they built.<br />
        Andy Dufresne describes a young and successful Wife and his wife's lover
        He is tried for murder and sentenced to life imprisonment. shawsankss
        Beating, torture, rape, all kinds of situations in his prison...
      </p>
  
    <br />

    <br /><br /><br />

    <h2>
      <a >LORD OF THE RINGS</a>
    </h2>
    <img src="yüzüklerinefendsi.jpg" alt="" style="width: 350px" />
    <p>
      <b> Director : </b> <ins>Peter Jackson</ins> <br />
      <b> Players:</b> <ins>Sean Astin, Elijah Wood, Viggo Mortensen</ins>
      <br />
      Lord of the Rings: The Return of the King given for the destruction of the One Ring
      It's about the struggle. Sauron's armies are getting bigger and bigger.
      Frodo and his dear friend Sam are in the midst of a terrifying journey.
      They are approaching Mordor step by step. The one ring must be destroyed and good
      to fight for it...
    </p>
  
    <br /><br /><br />
    <h2><a >RETURN TO THE FUTURE</a></h2>
    <br />
    <img src="geleceğeD.jpg" alt="" style="width: 350px" />
    <p>
      <b> Director : </b><ins> Robert Zemeckis</ins><br />
      <b> Players:</b> <ins>Michael J. Fox, Christopher Lloyd, Lea</ins>
      <br />
     In Thompson Back to the Future, mad scientist Dr. in brown time
      develops a car that makes travel possible. The first to use this machine
      Marty is sent to the past instead of the future with a slight scheduling mistake.
      A move made by Marty, who went back thirty years, changed his own destiny.
      An interesting point...
      
    </p>
    </form>
