@model Users
<form method="post">
    <h2> Welcome! Fill in the form below.</h2>  
    <div class="mb-3">
        <label asp-for="Id"></label>
        <input type="text" asp-for="Id" placeholder="id" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" placeholder="name" class="form-control" />
    </div>
      <div class="mb-3">
        <label asp-for="SurName"></label>
        <input type="text" asp-for="SurName" placeholder="surname" class="form-control" />
    </div>
     <div class="mb-3">
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" placeholder="eposta" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" placeholder="password" class="form-control" />
    </div>
      
      <div class="mb-3">
        <label asp-for="IsActive"></label>
        <input type="checkbox" asp-for="IsActive" class="form-check-input" />
    </div>
    
      <div class="mb-3" >
        <label asp-for="CreateDate"></label>
        <input type="datetime" asp-for="CreateDate" class="form-check-input" />
    </div>
     <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>

          <div class="mb-3">
        <input type="submit" value="Kaydet" class="btn btn-warning" />
        <a asp-controller="Users" class="btn btn-dark" asp-action="Index">users list</a>
    </div>
</form>