@model IList<Users>
<h1>Burası öğrencilerin listeleneceği sayfadır.</h1>
<table class="table">
    <tr><th>Id</th>
        <th>Ad Soyad</th>
        <th>Öğrenci No</th>
        </tr>
@foreach(var item in Model){
<tr>
    <td>@item.Id</td>
  
    <td>@item.Name</td>
    <td>@item.IsActive</td>
   
</tr>
}
</table>
