@model Contents
<form method="post">

    <ul class="list-group">
        <li class="list-group-item list-group-item-success">Movies </li>
        <li class="list-group-item list-group-item-info">Series</li>
        <li class="list-group-item list-group-item-warning">News</li>
        <li class="list-group-item list-group-item-danger">Competitions</li>
    </ul>

</form>



